<ul>

{{#each shoppingCart.items as |item|}}
  <li class="bordBot">
    {{item.name}} -- {{item.price}}
    <button class="deleteFromCart btn btn-danger" {{action 'removeFromCart' item}}>Remove From Cart</button>
  </li>
{{/each}}

</ul>
<h4>Total</h4>
{{cartTotal}}
