<ul>
  <h3 class='index-header'>Check Out These Beers!</h3>
  <div class='row'>
  {{#each model as |beer|}}
  {{#link-to 'beer' beer.id class='card-button'}}
  <div class='col-md-4 card-col'>
  <li class='beer-card'>
    <img class='beer-image' src={{beer.image}}>
    <span class='beer-name'>{{beer.name}}</span>
    <span class='beer-price'>Six-pack ${{beer.price}}</span>
  </li>
</div>
{{/link-to}}
  {{/each}}
</div>
</ul>
