<div class="row">
  <div class="col-sm-6">
    {{new-beer newBeer="newBeer"}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{admin-display model=model deleteBeer='deleteBeer'}}
  </div>
</div>
